
body {
  font: 10px sans-serif;
}

.line{
  stroke: #FF0000;
  stroke-width: 3px;
}

.square{
    stroke: #000;
}

.penalty{
    position: absolute;
    top: 200px;
    left: 1100px;
    width: 200px;
    height: 47px;
    border: 3px solid #73AD21;
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.histHeader{
  text-align: center;
}


#sliders { width: 50%; margin: 25px auto; text-align: center;}
#sliders li { margin: 20px; }
.slider { margin: 20px 0; }
