
body {
  font: 20px sans-serif;
}

.line{
  stroke-width: 3px;
}

.square{
    stroke: #000;
}

.penalty{
    position: absolute;
    top: 200px;
    left: 1100px;
    width: 200px;
    height: 47px;
    border: 3px solid #73AD21;
}

.bar rect {
  shape-rendering: crispEdges;
}

.bar text {
  fill: #999999;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.histHeader{
  text-align: center;
}

.label{
    
    font-size: 100%;
}

#run{
    position: absolute;
    left: 70%;
    top: 70%;
}

#gridSvg{
    position: absolute;
    left: 1%;
    top: 1%; 
}



#histWalks{
    position: relative;
    left: 55%;
}

#histClusters{
    position: relative;
    left: 55%;
}

#sliders { 
    width: 40%; 
    margin: 25px auto;
    text-align: center;
    position: relative;
    left: 25%
}

#sliders li { margin: 20px; }
.slider { margin: 20px 0; }
